{% extends "base.html" %}
{% load custom_filters %}
{% load custom_tags %}

    {% block content %}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-5 fw-bolder">시장 구경 갈까요? 대표시장 여기 다 모였네</h1>
                <p class="lead fw-normal text-white-50 mb-0">서울에 오신 것을 환영합니다</p>
            </div>
        </div>
        <section class="py-5">
            <div class="container px- px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    {% for data in dataList %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if data.market_name|in_list:"방학동도깨비시장,쌍문시장" %}
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">추천</div>
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ srcList|get_item:forloop.counter0 }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" style="color: black;">{{data.market_name}}</h5>
                                    <!-- Product price-->
                                
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/local/detail/{{data.id}}">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- Footer-->
    </header>
    
    {% endblock %}