{% extends 'base.html' %}
{% block content %}

<form action="" method="post" id="myform">
{% csrf_token %}
<div class="container mt-3">
  <table class="table table-hover">
            <colgroup>
                <col width="8%"/>
                <col width="*"/>
                <col width="12%"/>
                <col width="12%"/>
                <col width="8%"/>
            </colgroup>
             
            <thead>
              
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
              </tr>
            </thead>
            <tbody>
                {% for boardItem in boardList %}
                <tr>
                    <td>{{boardItem.postnum}}</td>
                    <td><a href="/board/view/{{boardItem.postnum}}">{{boardItem.title}}</a></td>
                    <td>{{boardItem.username}}</td>
                    <td>{{boardItem.wdate}}</td>
                    <td>{{boardItem.hit}}</td>
                </tr>
                {%endfor%}
            </tbody>
          </table>
      </div>
        
      
      {% include "./paging.html" %}
 

      <div class="container mt-5" style="text-align:right;">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" id="btnWrite">글쓰기</button>
      </div>
    </div>
  </form>

<script>
  function goPage(pg)
  {
    location.href="/board/list/"+pg;

  }
  // 이 html 문서가 모두 메모리에 로딩되면 이 부분이 호출된다 
  $(document).ready (()=> {
    // alert("Jquery");
  })

  $(document).ready(()=> {
    $("#btnWrite").click(()=>{
      // 화살표 함수는 this 사용 못함 
      $("#myform").prop("action", "/board/write");
      $("#myform").prop("method", "get");
      $("#myform").submit();
    });
  })
</script>

{%endblock%}